*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(athlete.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 50%;
    height: 200px;
    width: 350px;
    background-color: rgba(0,0,0,0.5)
}

.display{
    position: absolute;
    top: 43%;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}

.buttons{
    position: absolute;
    top: 52%;
}

button{
    font-size: 1rem;
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: black;
    color: white;
}

.startbtn:hover{
    background-color: green;
}

.stopbtn:hover{
    background-color: red;
}

.resetbtn:hover{
    background:yellow;
}